<h1>Have a Question?</h1>
<%= link_to "Ask!", new_question_path, class: 'btn btn-primary' %>

<h2>All Questions</h2>
<% @questions.each do |question| %>
  <div class="media">
    <div class="media-body">
       <h4 class="media-heading">
         <% if question.resolved? %>
           <i class="glyphicon glyphicon-ok-sign answered"></i>
         <% else %>
          <i class="glyphicon glyphicon-question-sign unanswered"></i>
         <% end %>
         <%= link_to question.title, question %>
       </h4>
     </div>
   </div>
<% end %>
