<div class="media yellow-box">
   <div class="media-body">
     <small>
        <strong>
          <%= comment.user.name %> <% if comment.user == current_user %>(you)<% end %>
        </strong>
       commented <%= time_ago_in_words(comment.created_at) %> ago
       <% if user_is_authorized_for_comment?(comment) %>
         | <%= link_to "Delete", [@post, comment], method: :delete %>
       <% end %>
     </small>
     <p class="indent"><%= comment.body %></p>
     <hr>
   </div>
 </div>
