<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to topic.name, topic %>
    </h4>
    <div class="indent">
      <small>
        <%= topic.description %>
      </small>
    </div>
  </div>
  <hr>
</div>
