<div class="media topics-list">
  <%= link_to topic do %>
    <div id="topics" class="media-body gray-box">
      <h4 class="media-heading">
        <%= topic.name %>
      </h4>
      <div class="indent">
        <small>
          <%= topic.description %>
        </small>
      </div>
    </div>
  <% end %>
</div>
