<div class = "row">
  <div class = "col-xs-10">
    <h1>Topics</h1>
  </div>
  <div class = "col-xs-2 new-topic-btn">
    <%= link_to new_topic_path do %>
      <button class = "btn btn-sm btn-success pull-right">
      <i class="glyphicon glyphicon-pencil"></i>
      New Topic
      </button>
    <% end %>
  </div>
</div>

 <div class="row">
   <div class="col-xs-10">
     <% @topics.each do |topic| %>
       <div class="media">
         <div class="media-body">
           <h4 class="media-heading">
             <%= link_to topic.name, topic %>
           </h4>
           <small>
             <%= topic.description %>
           </small>
         </div>
       </div>
     <% end %>
   </div>
 </div>
