
<div class="row">
   <div class="col-xs-9">
     <h1><%= @topic.name %></h1></span>
   </div>
   <div class="col-xs-3">
      <%= render partial: 'header', locals: { object: @topic, edit_path: edit_topic_path, type: "Topic" } %>
   </div>
 </div>

<div class="row">
  <div class="col-xs-9">
    <div class="topic-desc gray-box"><p class="lead"><%= @topic.description %></p></div>
  </div>
</div>

  <div class="row">
    <div class="posts gray-outline">
     <%= render @topic.posts %>
   </div>
 </div>
