<div class="row">
  <div class="col-md-8">
    <h1>Label: <%= @label.name %></h1>
  </div>
</div>

<div class="row">
    <div class="col-md-6">
      <div class="gray-box">
        <h3>Topics:</h3>
        <% @label.topics.each do |topic| %>
          <div>
            <%= link_to topic.name, topic %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="gray-box">
        <h3>Posts:</h3>
        <% @label.posts.each do |post| %>
          <div>
            <%= link_to post.title, topic_post_path(post.topic, post) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
