<h1>About Bloccit</h1>
 <p>Created by: Todd Channick</p>


<section>
  <span class="sec-title">Find me online!</span>
  <br><br>
  <%= link_to "GitHub", "https://www.github.com/toddchannick", class: "social-btn" %>
</section>
