<h1>About Bloccit</h1>
<br>
<div class="row">
  <div class="col-xs-12 gray-box">
     <span class="caps">Created by:</span> Todd Channick
     <br><br>
     <span class="caps">Find me online!</span>
     <%= link_to "GitHub", "https://www.github.com/toddchannick", class: "btn btn-sm btn-success" %>
   </div>
</div>
