<br>
 <div class="jumbotron welcome-box gray-box">
   <h1>Bloccit</h1>
   <p>Bloccit is a resource for sharing links with your friends!</p>
   <p>
     <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
   </p>
 </div>

 <div class="row">
   <div class="col-md-4">
     <h2>Lorem ipsum dolor sit amet</h2>
     <p>Bloccit Excepteur sint occaecat cupidatat non proident. Consectetur adipisicing elit, sed do eiusmod tempor. </p>
   </div>
   <div class="col-md-4">
     <h2>Sed do eiusmod tempor incididunt ut labore</h2>
     <p>Bloccit Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
   </div>
   <div class="col-md-4">
     <h2>Bloccit sint occaecat cupidatat </h2>
     <p>Bloccit Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
   </div>
 </div>
