/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
	position: relative;
  min-height: 100%;
}

.body {
  width:90%;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  padding-bottom:7em;
}

 #heading {
  height:5em;
  padding-bottom:2.5em;
 }

 #head-title {
   position:relative;
   display:block;
   width:80%;
   margin-left:0px;
 }

#header-buttons {
  display:inline-block;
  position: relative;
  transform: translateY(35%);
}

#create-new {
 float:left;
 padding-right:4px;
 transform: translateY(35%);
}

.new-topic-btn {
  margin-top:2em;
}

.body {
  margin-top:1.5em;
}

.row div {
  padding-top:.25em;
  padding-bottom:.25em;
}

i {
  padding-right: .7em;
}

.answered {
  color: green;
}

.unanswered {
  color: red;
}

.resolution {
  margin-top: 2em;
}

#resolved {
  font-weight: bold;
}

#back-button {
  text-decoration:none;
}

ul.dropdown-menu{
  text-align: left;
  border: none;
  outline: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

ul.dropdown-menu a {
  margin-bottom:.5em;
  background-color: rgba(0, 0, 0, 0) !important;
}

ul.post-menu {
  text-align:left !important;
  li {
    margin-left:0px;
  }
}

.dropdown-menu > li > a {
  padding-right:0px !important;
  padding-left:0px !important;
}

.dropdown-menu:hover a {
  border: none !important;
  outline: none !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.dropdown-menu a:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

.open>.dropdown-toggle.dropdown-menu{
   outline: none !important;
   border: none !important;
   -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.open>.dropdown-toggle.dropdown-menu:hover{
   outline: none !important;
   border: none !important;
}


 @import "bootstrap-sprockets";
 @import "bootstrap";

 .user-info {
   margin-top: 9px;
 }

 .nav {
   padding-top: 15px;
   background-color: #0099cc;
   width:100%;
   li > a {
     text-decoration:none;
     color:white;
   }
 }

.nav-text {
  position:relative;
  transform: translateY(50%);
  padding-left:10px;
  padding-right:10px;
}

 .green {
   background-color: #283C42 !important;
 }


 .btn {
     padding: 10px 15px;
     border: 0 none;
     font-weight: 700;
     letter-spacing: 1px;
     text-transform: uppercase;
 }

 .btn-sm {
     padding:5px 7px;
     border: 0 none;
     font-weight: 700;
     letter-spacing: 1px;
     text-transform: uppercase;
 }

 .btn:focus, .btn:active:focus, .btn.active:focus {
     outline: 0 none;
 }

 .btn-primary {
     background: #0099cc;
     color: #ffffff;
 }

 .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
     background: #33a6cc;
 }

 .btn-primary:active, .btn-primary.active {
     background: #007299;
     box-shadow: none;
 }

 .btn-success {
     background: #0099cc;
     color: #ffffff;
 }

 .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-primary {
     background: #33a6cc;
 }

 .btn-success:active, .btn-success.active {
     background: #007299;
     box-shadow: none;
 }

 .nav-tabs {
    border-bottom: 2px solid #ddd;
    padding-right: 2em;
    padding-left: 2em;
    li > a:hover {
      color: #212121 !important;
    }
}

.sign-up {
  a {
  text-decoration:none;
  color:white;
  }
}

.nav-tabs {
  position:relative;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.topic-desc {
  position:relative;
  display:block;
  margin-top:2em;
  p {
    margin:0px !important;
  }
}

.gray-box {
  background-color:#EBE5E1;
  padding:20px !important;
  border-radius: 4px;
}

.posts {
  position:relative;
  display:block;
  margin-top:20px;
}

.confirm-buttons > form > input {
  float:left;
  margin-right:2em;
}

.welcome-box {
  padding: 50px !important;
}

.gray-outline {
  border-radius: 4px;
  border: 1px solid #ddd;
  padding:1em;
}

footer {
  position:absolute;
  width:100%;
  left:0;
  bottom:0;
  height:5em;
  background-color:#212121;
  border-top: 1px solid #0099cc;
}

.caps {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
