/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.body {
  margin-top:1.5em;
}

.body-text {
  width:70%;
  margin-left: 1.5em;
}

.row div {
  padding-top:.25em;
  padding-bottom:.25em;
}

.row p {
  position:relative;
  clear:both;
}

#heading {
  width:70%;
  float:left;
}

.top-btn-group {
  display:inline-block;
  position:relative;
  margin-top:2em;
  list-style:outside none none;
  text-align:left;
  li {
    float:left;
    padding-left:.5em;
    padding-right:.5em
  }
}


i {
  padding-right: 1em;
}

.answered {
  color: green;
}

.unanswered {
  color: red;
}

.resolution {
  margin-top: 2em;
}

#resolved {
  font-weight: bold;
}

#back-button {
  text-decoration:none;
}

.post-menu {
  margin-left:3em;
}

ul.dropdown-menu{
  margin-left:1.5em;
  border: none;
  outline: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.dropdown-menu a {
  position:relative;
  margin-bottom:.4em;
}


.dropdown-menu:hover a {
  border: none !important;
  outline: none !important;
  background-color: white;
}

.dropdown-menu a:hover {
  background-color: white !important;
}

.open>.dropdown-toggle.dropdown-menu{
   outline: none !important;
   border: none !important;
   -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.open>.dropdown-toggle.dropdown-menu:hover{
   outline: none !important;
   border: none !important;
}


 @import "bootstrap-sprockets";
 @import "bootstrap";
